@model Milieusysteem.Models.ClimateSurvey;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@Model.SurveyChoices.OrderByDescending(x => x.AmountOfVotes).ToList()[0].Advice</h1>
<p></p>
<div class="container">
    <div class="row">
        @foreach(Choice choice in Model.SurveyChoices)
        {
            <div class="col-md-4">
               <p>@choice.ChoiceTekst @choice.AmountOfVotes</p>
            </div>
        }
    </div>
    <p></p>
    <a asp-action="SurveyOutcomesToTeacherHome"><button class="btn btn-primary">Terug naar dashbord</button></a>
</div>